<div class="container">
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-12">
            <div class="tile">
                <div class="tile is-parent is-vertical articles">
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>